 /* custom property */
:root{
  --primary-color:#ff7500;
}

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 24px;
  font-size: 16px;
  color: #000000;
}


/*   CONTAINER  */
.container{
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

 /* HEADER  */

header{
  border-top: 5px solid var(--primary-color);
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

/* SITE NAVBAR  */
.site-navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  display: block;
}
.navbar-list{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 32px;
}
.navbar-item{
  margin-right: 32px;
}
.navbar-item:last-child{
  margin: 0;
}
.nav-link{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: black;
}

.nav-link:hover{
  color: var(--primary-color);

}



/*     HERO      */
.hero{
  background: #252420;
  color: white;
}

.hero-container{
  display: flex;
  justify-content: space-between;
}

.hero-action{
  width: 390px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.hero-header{
  font-family: "Roboto Condensed","Arial" , sans-serif;
  width: 340px;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  margin: 0;
  margin-bottom: 24px;
}
.hero-text{
  width: 390px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  margin: 0;
  margin-bottom: 32px;
}
.hero-container img{
  border-radius: 8px;
  box-shadow: 24px 24px 0px 0px rgba(255, 117, 0, 0.60);
}
.orange-line{
  width: 80px;
  height: 3px;
  margin: 0;
  margin-bottom: 40px;
  border: none;
  background-color:var(--primary-color);
}


/* FEATURES SECTION */

.features{
  padding-top: 210px;
  padding-bottom: 210px;
  color: #000;
}

.features-heading{
  font-weight: 700;
  font-size: 72px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 72px;
}

.features-list{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.decoration-icon{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 117, 0, 0.2);
  margin: 0;
  margin-bottom: 32px;
}


.features-item{
  width: 340px;
  margin-right: 40px;
}
.features-item:last-child{
  margin: 0;
}

.features-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  margin: 0;
}

.features-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.5px;
  margin: 0;
  margin-bottom: 12px;
}

 /*  PROMO SECTION  */
.promo{
  padding-bottom: 160px;
}

.inner-promo{
  background-color: #252420;
  border-radius: 12px;
  color: #fff;
  display: flex;
  justify-content: space-between;

}

.promo-textbox{
  width: 440px;
  margin: 64px 64px;
  margin-right: 0;
}
.promo-heading{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
  margin: 0;
  margin-bottom: 24px;
}
.promo-text-list{
  margin: 0;
  margin-bottom: 24px;
}
.promo-text{
  width: 440px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  margin: 0;
  margin-bottom: 12px;
}

strong{
  color:var(--primary-color)
}

/*   FOOTER  */

.site-footer{
  margin: 0;

  padding-bottom: 56px;
  background-color: #f8f8f8;
}

.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 40px;
}

.footer-line{
  height: 2px;
  border: 0;
  background-color: rgba(37, 36, 32, 0.5);
  margin: 0;
  margin-bottom: 64px;
}
.social-links{
  display: flex;
  padding: 0;
}
.social-links li{
  margin-right: 16px;
  list-style-type: none;
}
.social-links li:last-child{
  margin: 0;
}
.social-link{
  display: block;
  color: #252420;
}

.social-link:hover{
  color:var(--primary-color);
  transition: opacity 0.4s ease;
}

.wrap-links{
  display: flex;
  margin: 0;
}

.footer-links{
  padding: 0;
  width: 224px;
  list-style-type: none;
  margin: 0;
  margin-right: 68px;
}

.footer-links:last-child{
  margin: 0;
}
.footer-links li{
  margin: 0;
  margin-bottom: 16px;
}
.footer-links li:last-child{
  margin: 0;
}
.footer-links a{
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #252420;
}

.footer-links a:hover{
  color: var(--primary-color);
}
.promo-img{
  width: 440px;
  height: 440px;
}
.main-link{
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 13px;
  color:white;
  line-height: 15px;
  background:var(--primary-color);
  transition: opacity 0.4s ease ;
  text-decoration: none;
}

.main-link:hover{
  opacity: 60%;
}