body{
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 24px;
  font-size: 16px;
  color: #000000;
}


 /* HEADER  */

.wrap-header{
  display: flex;
  justify-content: space-between;
}


.wrap-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-links{
  display: flex;
  list-style: none;
}

.nav-link{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: black;
}

.nav-link:hover{
  color: #ff7500;

}

/* .nav-link{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: black;
} */
.main-btn{
  text-decoration: none;
  font-style: bold;
  color:white;
  background:#FF7500;
}

.main-btn:hover{
  opacity: 60%;
}

 /*     HERO      */
.hero{
  background: #252420;
  color: white;
}

.wrap-hero{
  display: flex;
  justify-content: space-around;
}

.hero-action{
  align-items: start;
  width: 390px;
}
.hero-header{
  width: 340px;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}
.hero-text{
  width: 390px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.orange-line{
  width: 80px;
  height: 3px;
  background-color: #FF7500;
}


/* FEATURES SECTION */

.features{
  color: #000;
}

.features-heading{
  font-weight: 700;
  font-size: 72px;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

.features-list{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.decoration-icon{
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}


.features-item{
  width: 340px;
}

.features-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.features-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.5px;
}
 /*  PROMO SECTION  */
.promo{
 background-color: #252420;
 color: #fff;
}

.promo-textbox{
  width: 440px;
}
.wrap-promo{
  display: flex;
  justify-content: space-around;

}
.promo-heading{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
}

.promo-text{
  width: 440px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

strong{
  color:#FF7500
}

/*   FOOTER  */

.footer-top{
  display: flex;
  justify-content: space-between;
}

.footer-top ul{
  display: flex;
}
.footer-top ul li{
  list-style-type: none;
}

.footer-top ul li a:hover{
  color: #ff7500;
}
.wrap-links{
  display: flex;
  justify-content: space-around;
}
.site-footer{
  text-decoration: none;
  list-style: none;
}
.footer-links{
  list-style-type: none;
  width: 224px;
}

.footer-links a{
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #252420;
}

.footer-links a:hover{
  color: #ff7500;
}
.promo-img{
  width: 440px;
  height: 440px;
}

.site-footer{
  background-color: #f8f8f8;
}

.footer-line{
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
}
